* {
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    padding: 0;
    background-image: url('../img/inspirational-backgrounds-big-photo-website-260nw-1117406765.webp');
    background-size: cover;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 20px;
  }
  
  .navbar-brand {
    color: #61dafb;
    text-decoration: none;
    size: 24px;
  }
  
  .navbar-brand span {
    color: aquamarine;
    size: 24px;
  }

  
   
  
  .tasks_list {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;
  }
  
  .tasks_list li a {
    color: #fff;
    text-decoration: none;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .button {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  .button button {
    border: none;
    background-color: black;
    color: #ecf0f1;
    border-radius: 15px;
    cursor: pointer;
    width: 40%;
    text-align: center;
    font: 400 15px Arial;
    padding: 10px 10px;
    margin-top: 5%;
  }
  
  .top-right-list {
    position: fixed;
    top: 0;
    right: 0;
    padding: 30px 10px;
    width: 40%;
   
  }
  .AntGround{
    position: relative;
    width: 100%;
    height: 100vh;
    background: #20382e;
    color: #fff;
    overflow: hidden;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
 }
  
  .top-right-list ul {
    list-style: none;
    padding: 0;
    margin: 10%;
    width: 40%;
    height: 30%;
    display: block;
    padding-inline-start: 40px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }
  
  .top-right-list li {
    display: inline-block;
    margin-right: 20px;
    
  }
  
  .top-right-list input {
    width: 60px;
  }
  
  .copyright {
    background: white;
    height: 10%;
    color: #333;
    border-top: 2px solid rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    position: static;
    margin-top: 40%;
  }
  
  @media (max-width: 980px) {
    header img {
      display: none;
    }
    header {
      flex-direction: column;
      padding: 0px;
    }
    header .end {
      display: none;
    }
  }
  btn{
    position: relative;
    height: 5%;
    bottom:60%;
    flex-direction: column;
    align-items: flex-start;
    width: 130px;
    padding: 25px 30px;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #000000;
    font-size: 1.2rem;
    font-weight: bold;
    border: black;
    cursor: pointer;
    border-radius: 30px;
    text-align: center;
    background-color: #5b8976;
}

.button{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: 9%;
    
}
a{
  position:relative;
  text-decoration:wavy;
  font-family: 'Times New Roman', Times, serif;
  color: white;
  letter-spacing:0%;
  font-size: medium;
  padding-right: -55px;
  word-spacing: 0%;
  column-width: auto;
}
a:after{
  content: "";
  position: absolute;
  background-color: blue;
  height: 4px;
  width: 0;
  left: 0;
  bottom: -10px;
  transition: 0.3s;
  
}


a:hover::after{
  width: 100%;
}


#distance-label{
    color: red;
    font-size: 25px;
    padding-right: 40%;

@media (max-width: 980px){
    header img{
        display: none;
    }
    header{
        flex-direction: column;
        padding: 0px;
        display:block;
    }
    header .end {
        display: none;
    }

    .top-right-list {
        top: 19%;
        right: 76%;
        list-style: 90px;
        padding: 0;
       
      }
      
    }
  }