* {
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    padding: 0;
    background-image: url('../img/inspirational-backgrounds-big-photo-website-260nw-1117406765.webp');
    background-size: cover;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 20px;
  }
  
  .navbar-brand {
    color: #61dafb;
    text-decoration: none;
  }
  
  .navbar-brand span {
    color: aquamarine;
  }
  
   
  
  .tasks_list {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;
  }
  
  .tasks_list li a {
    color: #fff;
    text-decoration: none;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .button {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  .button button {
    border: none;
    background-color: black;
    color: #ecf0f1;
    border-radius: 15px;
    cursor: pointer;
    width: 40%;
    text-align: center;
    font: 400 15px Arial;
    padding: 10px 10px;
    margin-top: 5%;
  }
  
  .top-right-list {
    position: fixed;
    top: 0;
    right: 0;
    padding: 30px 10px;
    width: 40%;
   
  }
  
  .top-right-list ul {
    list-style: none;
    padding: 0;
    margin: 10%;
    width: 40%;
    height: 30%;
    display: block;
    padding-inline-start: 40px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }
  
  .top-right-list li {
    display: inline-block;
    margin-right: 20px;
    
  }
  
  .top-right-list input {
    width: 60px;
  }
  
  .copyright {
    background: white;
    height: 10%;
    color: #333;
    border-top: 2px solid rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    position: static;
    margin-top: 40%;
  }
  
  @media (max-width: 980px) {
    header img {
      display: none;
    }
    header {
      flex-direction: column;
      padding: 0px;
    }
    header .end {
      display: none;
    }
  }
  