/* General Styles */
body {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #2c3e50;
  color: #ecf0f1;
}


.element img {
  height: 50px;
}

.navbar-brand {
  color: #ecf0f1;
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
}

.tasks_list {
  list-style: none;
  padding: 0;
}

.tasks_list li {
  display:inline-block;
  margin-right: 10px;
  font-size: 14pt;
  color: black;
}

.tasks_list li a {
  color: #ecf0f1;
  text-decoration: none;
  font-weight: bold;
}

.end a {
  color: #ecf0f1;
}

.panel {
  margin: 20px;
  padding: 20px;
  background-color: #ecf0f1;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.panel input[type="number"],
.panel input[type="button"] {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #bdc3c7;
  background-color: #ecf0f1;
  cursor: pointer;
}

.panel input[type="button"] {
  background-color: #3498db;
  color: #ecf0f1;
  cursor: pointer;
}

.right_panel {
  float: right;
  width: 200px;
}

.header1 {
  margin-top: 0;
}

.header2 {
  margin-bottom: 0;
  color: #2c3e50;
  font-weight: bold;
}

.sub_option input[type="radio"],
.sub_option input[type="checkbox"] {
  margin-right: 5px;
}

.panel button {
  display: inline;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #3498db;
  color: #ecf0f1;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

canvas {
  display: block;
  margin: 20px auto;
  border: 1px solid #bdc3c7;

}